@using DiscordBot.Frontend.Pages
@inherits LayoutComponentBase

@namespace DiscordBot.Frontend.Shared

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <ResetButton></ResetButton>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
