@namespace DiscordBot.Frontend

<Router AppAssembly="@typeof(DiscordBot.Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(DiscordBot.Frontend.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(DiscordBot.Frontend.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
