@page "/logs"
@using System.IO
@using System.Text.RegularExpressions
@using System.Globalization
@using System.Threading.Tasks;

<h1>Logs</h1>
<select @onchange="LogChangedAsync">
    @foreach (var fileDateTime in GetLogDateTimes())
    {
        <option value=@fileDateTime.ToString(dateFormat)>@fileDateTime.ToString("dd MMMM yyyy")</option>
    }
</select>

<div>
    <textarea @bind="LogText"></textarea>
</div>

@code {

    private readonly Regex logRegex = new Regex(@"logs/log-(\d+).txt");
    private readonly string dateFormat = "yyyyMMdd";

    IEnumerable<DateTime> GetLogDateTimes()
    {
        var filenames = Directory.GetFiles("logs");
        var datetimeStrings = filenames.Select(s => logRegex.Match(s).Groups[1].Value);
        var datetimes = datetimeStrings.Select(dt => DateTime.ParseExact(dt, dateFormat, CultureInfo.InvariantCulture));
        
        return datetimes.OrderByDescending(dt => dt);
    }

    private string SelectedLog { get; set; }

    private async Task LogChangedAsync(ChangeEventArgs args)
    {
        SelectedLog = args.Value.ToString();
        await LoadLog(SelectedLog);
    }

    private async Task LoadLog(DateTime dt) => await LoadLog(dt.ToString(dateFormat));

    private async Task LoadLog(string dateTime)
    {
        LogText = "Загружаю...";
        var logFileName = $"logs/log-{dateTime}.txt";
        using var reader = File.OpenText(logFileName);
        LogText = await reader.ReadToEndAsync();
    }

    private string LogText {get; set;}

    protected override async Task OnInitializedAsync()
    {
        await LoadLog(GetLogDateTimes().First());
    }
}