@using Microsoft.JSInterop
@using DiscordBot.Util
@inject IJSRuntime JsRuntime

<button class="btn btn-primary" @onclick="Reset">Reset bot</button>

<p>@Test</p>

@code {

    private string Test { get; set; }

    async Task Reset()
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Уверен?");
        if (!confirmed)
            return;

        var cmd = "sudo systemctl restart discord-bot.service";
        var res = await cmd.BashAsync();
        Test = res;
    }
}